/WahtsUp/nbproject/private/
/WhatsUpServer/nbproject/private/
/WhatsUpGUI/nbproject/private/
/WhatsUpGUI/build/
/WhatsUpServer/build/
/WahtsUp/build/
/Whatsup/nbproject/private/
/Whatsup/build/
/WahtsUp_1/nbproject/private/
/WahtsUp_1/build/
/WahtsUp/dist/
/WhatsUpServer/dist/